* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(347px, 1fr));
  align-items: center;
}

.project-container {
  display: inline-block;
  background-color: #ddd;
  margin: 0;
  width: 347px;
  height: 267px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project-container.template1 {
  background-image: url("../images/template1.png");
}
.project-container.template2 {
  background-image: url("../images/template2.png");
}
.project-container.todo-app {
  background-image: url("../images/todoapp.png");
}
.project-container.udacity-landing-page {
  background-image: url("../images/udacity-landing-page.png");
}
